<div>
  <div class="generalHeader" [style]="getHeaderColor()" [class.scroll]="isScrolled">
    <div class="name">
      <img class="logo" src="../assets/logo.png" alt="Лого">
      <a class="name" href="/home" [text]="getHeaderTitle()">AdVantage</a>
    </div>
    <div class="auth-buttons" *ngIf="!isAuthorized">
      <a routerLink="/login">
        <button class="btn btn-success">Вход</button>
      </a>
      <button routerLink="/register" class="btn btn-danger">Регистрация</button>
    </div>
    <div *ngIf="isAuthorized">
      <div class="auth-buttons">
        <span>
          <button class="btn profileButton mr-4" routerLink='workspace/import'>{{username}}</button>
     </span>
        <button (click)="logout()" class="btn logoutButton mr-4">Выйти<i
          class="pi pi-pf pi- pi-sign-out ml-3"></i></button>
      </div>
    </div>
  </div>
</div>

