<div>
  <div class="generalHeader" [class.scroll]="isScrolled">
    <div class="name">
      <img class="logo" src="../assets/logo.png" alt="Лого">
      <a class="name" href="/home">Sender</a>
    </div>
    <div class="auth-buttons" *ngIf="!isAuthorized">
      <a routerLink="/login">
        <button class="btn btn-success">Вход</button>
      </a>
      <button routerLink="/register" class="btn btn-danger">Регистрация</button>
    </div>
    <div *ngIf="isAuthorized">
      <div class="auth-buttons">
        <span>
          <p-button styleClass="p-button-raised p-button-success" class="mr-4" routerLink='workspace/import'>{{username}}</p-button>
     </span>
        <p-button (click)="logout()" styleClass="p-button-raised p-button-danger">Выйти<i
          class="pi pi-pf pi- pi-sign-out ml-3"></i></p-button>

      </div>
    </div>
  </div>
</div>

