


.layout-sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: #8D8D8D;
  width: 350px;
  -webkit-user-select: none;
  user-select: none;
  transition: transform .4s cubic-bezier(.05, .74, .2, .99);
}

.layout-content {
  margin-left: 350px;
  padding-top: 2rem;
}


