<div class="container pl-3.5">
  <h1>Редактирование списка</h1>
  <div class="container-contacts mt-5">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <div class="mr-5">
          <p-button routerLink="/workspace/active-orders" icon="pi pi-arrow-left" styleClass="p-button-danger"></p-button>
        </div>
      </ng-template>

      <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                      class="mr-2 inline-block"></p-fileUpload>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="statusesPerClient"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['client.email', 'client.phoneNumber', 'emailStatusPerClient', 'smsStatusPerClient']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Отображается с {first} по {last} из {totalRecords} записей"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal(applyFilterGlobal($event), 'contains')"
                           placeholder="Поиск..."/>
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="client.email" style="min-width:15rem">Email
            <p-sortIcon field="client.email"></p-sortIcon>
          </th>
          <th pSortableColumn="client.phoneNumber" style="min-width:15rem">Телефон
            <p-sortIcon field="phoneNumber"></p-sortIcon>
          </th>
          <th>Статус Email
          </th>
          <th>Статус SMS
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-client>
        <tr>
          <td>{{ client.client.email }}</td>
          <td>{{client.client.phoneNumber}}</td>
          <td>{{ client.emailStatusPerClient}}</td>
          <td>{{ client.smsStatusPerClient }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
