<app-header></app-header>
<body>
<main>
  <div class="main-box">
    <h1 class="title">Добро пожаловать на сайт "Sender"</h1>
    <div class="itembox">
      <p class="titleText">
        Если вы всемирно известная компания, но хотите поддерживать постоянный интерес своих клиентов к вашей продукции, или начинающий предприниматель, которому нужно прорекламировать свою продукцию на весь белый свет, или у вас скоро свадьба, а вы действительно не хотите заморачиваться с приглашениями, или вы просто очень любите своих близких, и хотите, чтобы ваши друзья получили доброжелательное сообщение, то в любом случае вам нужно именно к нам. Мы даем вам возможность отправить SMS или Email письмо в любом формате, насколько позволяет ваше воображение. Для того, чтобы начать пользоваться всеми нашими возможностями вам необходимо зарегистрироваться на нашем сайте, а затем проивести аунтефикацию. Начальное наше с вами сотрудничество будет для вас совершенно БЕСПЛАТНЫМ, благодаря нему, вы сможете по достоинству оценить насколько удобна и мгновенна наша рассылка. Ниже вы можете прочитать о каждом типе рассылки.</p>
      <img src="../assets/png1.png" alt="Картинка">
    </div>
  </div>
  <div class="main-bottom" >
    <a routerLink="/workspace">
    <button class="try-button" >Попробовать</button>
    </a>
  </div>

  <div class="box">
    <div class="headTitle"> Sms рассылка</div>
    <div class="itembox">
      <p class="text">Любому абоненту, в любую точку мира, мы можем отправить ваше SMS сообщение. Для этого нам единственное необходимо знать: кому отправлять и что отправлять. Для отправки SMS пройдите в конструктор SMS сообщений.
      </p>
      <img class="imgSmall" src="../assets/sms.png" alt="Картинка">

    </div>
  </div>
  <div class="box">
    <div class="headTitle">Email рассылка </div>
    <div class="itembox">
      <p class="text">К счастью, Email рассылка даёт большие возможности в оформлении, нежели SMS, но мы искренне надеемся, что и на долю SMS рассылки скоро придёт праздник. Email рассылка же содержит помимо текстового сообщения, также изображение, фоны и многое другое. Со всеми элементами, которые могут входить в ваше электронное письмо, вы можете ознакомиться в Email конструкторе.
      </p>
      <img class="imgSmall" src="../assets/email.png" alt="Картинка">
    </div>
  </div>

  <div class="whitebox">
    <div class="headTitle" style="color: black">Тарифы</div>
    <div class="itembox">
      <div class="item">
        <h2>Free</h2>
        <ul class="list">
          <li>Вам</li>
          <li>Очень</li>
          <li>И</li>
          <li>Очень</li>
          <li>Повезло</li>
        </ul>
        <p>Цена: 0</p>
      </div>
      <div class="item">
        <h2>Email</h2>
        <ul class="list">
          <li>Отправка по расписанию</li>
          <li>Отправка по промежутку времени.</li>
          <li>Разовая рассылка.</li>
        </ul>
        <p>Цена: 1000</p>
      </div>
      <div class="item">
        <h2>Sms</h2>
        <ul class="list" >
          <li>Отправка по расписанию</li>
          <li>Отправка по промежутку времени.</li>
          <li>Разовая рассылка.</li>
        </ul>
        <p>Цена: 500</p>
      </div>
      <div class="item">
        <h2>Full</h2>
        <ul class="list">
          <li>Возможность отправлять Email и SMS сообщения вместе по низкой цене.</li>
        </ul>
        <p>Цена: 1300</p>
      </div>
    </div>
  </div>
</main>

<footer>
  <nav>
    <ul>
      <li><a href="#">О сервисе</a></li>
    </ul>
  </nav>
</footer>
</body>


