<div class="container pl-3.5">
  <h1>Редактирование списка</h1>
  <div class="container-contacts mt-5">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <div class="mr-5">
          <p-button routerLink="/workspace/contacts" icon="pi pi-arrow-left" styleClass="p-button-danger"></p-button>
        </div>
        <button pButton pRipple label="Добавить" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
      </ng-template>

      <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                      class="mr-2 inline-block"></p-fileUpload>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="clients"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['firstName', 'lastName', 'phoneNumber', 'email','properties']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedClients"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Отображается с {first} по {last} из {totalRecords} записей"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h3 class="m-0">{{mailingListName}}</h3>
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal(applyFilterGlobal($event), 'contains')"
                           placeholder="Поиск..."/>
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="firstName" style="min-width:15rem">Имя клиента
            <p-sortIcon field="firstName"></p-sortIcon>
          </th>
          <th pSortableColumn="lastName" style="min-width:15rem">Фамилия клиента
            <p-sortIcon field="lastName"></p-sortIcon>
          </th>
          <th pSortableColumn="phoneNumber">Номер
            <p-sortIcon field="phoneNumber"></p-sortIcon>
          </th>
          <th pSortableColumn="email">Email
            <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="properties" style="min-width:10rem">Параметры
            <p-sortIcon field="properties"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-client>
        <tr>
          <td>{{ client.firstName }}</td>
          <td>{{client.lastName}}</td>
          <td>{{ client.phoneNumber }}</td>
          <td>{{ client.email  }}</td>
          <td>{{ client.properties  }}</td>
          <td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                    (click)="editClient(client)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                    (click)="deleteClient(client)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>


  <p-dialog [(visible)]="clientDialog" [style]="{ width: '450px' }"
            [header]="editClientFlag?'Редактировать клиента':'Добавить клиента'" [modal]="true"
            styleClass="p-fluid">
    <ng-template pTemplate="content">

      <div class="field">
        <label for="name">Имя</label>
        <input type="text" pInputText id="name" [(ngModel)]="client.firstName" required autofocus/>
        <small class="p-error" *ngIf="submitted && !client.firstName">Name is required.</small>
      </div>
      <div class="field">
        <label for="lastname">Фамилия</label>
        <input type="text" pInputText id="lastname" [(ngModel)]="client.lastName" required autofocus/>
        <small class="p-error" *ngIf="submitted && !client.lastName">Lastname is required.</small>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" pInputText id="email" [(ngModel)]="client.email" required autofocus/>
        <small class="p-error" *ngIf="submitted && !client.email">Email is required.</small>
      </div>
      <div class="field">
        <label for="name">Номер телефона</label>
        <input type="text" pInputText id="name" [(ngModel)]="client.phoneNumber" required autofocus/>
        <small class="p-error" *ngIf="submitted && !client.phoneNumber">Phonenumber is required.</small>
      </div>
      <div class="field">
        <label for="description">Параметры персонализации</label>
        <textarea id="description" pInputTextarea [(ngModel)]="client.properties" required rows="3"
                  cols="20"></textarea>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Отмена" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button *ngIf="editClientFlag" pButton pRipple label="Обновить" icon="pi pi-check" class="p-button-text"
              (click)="updateClients()"></button>
      <button *ngIf="addClientFlag" pButton pRipple label="Добавить" icon="pi pi-check" class="p-button-text"
              (click)="saveClient()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
