<div class="container p-3.5">
  <div class="top">
    <label class="topic" >Создать рассылку</label>
    <button   class="btn-ex"  (click)="reloadCurrentPage()"  [style.display]="btnExVisible ? 'block' : 'none'">Другая рассылка</button>
  </div>
  <mat-radio-group [style.display]="StartVisible ? 'block' : 'none'">
    <div class="box">
      <mat-checkbox   (change)="CheckSms()">Sms рассылка</mat-checkbox>
    </div>
    <div class="box">
      <mat-checkbox   (change)="CheckEmail()">Email рассылка</mat-checkbox>
    </div>
    <div class="btn-step">
      <button class="button" (click)="start()">Начать</button>
    </div>
  </mat-radio-group>


  <mat-stepper   #singleStepper [style.display]="singleStepperV ? 'block' : 'none'">
    <mat-step [stepControl]="firstFormGroup" *ngIf="emailStepperV">
      <ng-template matStepLabel >Шаблон письма</ng-template>
      <form [formGroup]="firstFormGroup">
        <p >Введите тему письма</p>
        <mat-form-field>
          <mat-label>Тема</mat-label>
          <textarea class="textarea" matInput  formControlName="firstCtrl" required> </textarea>
        </mat-form-field>
        <p >Создайте шаблон письма</p>
        <div id="unlayer-container">
          <email-editor minHeight="650px"
                        (loaded)="editorLoaded($event)"
                        (ready)="editorReady($event)"
          ></email-editor>
        </div>
        <div class="btn-step">
          <button class="button" matStepperPrevious>Назад</button>
          <button class="button" matStepperNext>Дальше</button>
        </div>
        <div class="box">
          <p-button class="p-button-success" (click)="exportHtml()">Экспортировать</p-button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" *ngIf="smsStepperV">
      <ng-template  matStepLabel>Текст сообщения</ng-template>
      <form [formGroup]="secondFormGroup">
        <p>Введите текст sms сообщения</p>
        <mat-form-field>
          <mat-label>Текст сообщения</mat-label>
          <textarea  class="textarea" matInput formControlName="secondCtrl" required> </textarea>
        </mat-form-field>
        <div class="btn-step">
          <button class="button" matStepperNext>Дальше</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Дата и время</ng-template>
      <form [formGroup]="thirdFormGroup">
        <mat-label>Выберете дату рассылки</mat-label>
        <mat-radio-group [(ngModel)]="chooseDate">
          <div class="box">
            <mat-radio-button value="now" (click)="onStartImme($event)">Отправить сразу</mat-radio-button>
          </div>
          <div class="box">
            <mat-radio-button value="data" (click)="onChooseDate($event)">Выбрать дату</mat-radio-button>
          </div>
        </mat-radio-group>
        <div  class="box" [style.display]="selectDataVisible ? 'block' : 'none'">
          <p-calendar [(ngModel)]="date" [showTime]="true" [showSeconds]="false"></p-calendar>
        </div>
        <mat-label>Выберете время рассылки</mat-label>
        <div class="btn-step">
          <button class="button" matStepperPrevious>Назад</button>
          <button class="button" matStepperNext>Дальше</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="FourFormGroup">
      <ng-template matStepLabel>Список клиентов.</ng-template>
      <form [formGroup]="FourFormGroup">
        <p >Выберите список клиентов.</p>
        <div class="btn-step">
          <button class="button" matStepperPrevious>Назад</button>
          <button class="button" matStepperNext>Дальше</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="FiveFormGroup">
      <ng-template matStepLabel>Готово</ng-template>
      <form [formGroup]="FiveFormGroup">
        <p >Рассылка готова!.</p>
        <div class="btn-step">
          <button  class="button">Создать</button>
          <button  class="button" (click)="singleStepper.reset()">Сброс</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>



