<div class="top">
<label class="topic" >Создать рассылку</label>
    <button   class="btn-ex"  (click)="restart(singleStepper)"  [style.display]="btnExVisible ? 'block' : 'none'">Другая рассылка</button>
</div>
<mat-radio-group [style.display]="StartVisible ? 'block' : 'none'">
  <div class="box">
    <mat-checkbox   (change)="CheckSms()">Sms рассылка</mat-checkbox>
  </div>
  <div class="box">
    <mat-checkbox   (change)="CheckEmail()">Email рассылка</mat-checkbox>
  </div>

  <div class="btn-step">
    <button class="button" (click)="start()">Начать</button>
  </div>
</mat-radio-group>


<mat-stepper   #singleStepper [style.display]="singleStepperV ? 'block' : 'none'">
  <mat-step *ngIf="emailStepperV">
    <ng-template  matStepLabel>Тема и содержание</ng-template>
    <p >Введите тему письма</p>
    <mat-form-field>
      <mat-label>Тема</mat-label>
      <textarea class="textarea" matInput  required> </textarea>
    </mat-form-field>
    <p>Введите текст письма</p>
    <mat-form-field class="textarea">
      <mat-label>текст</mat-label>
      <textarea class="textarea" matInput  required> </textarea>
    </mat-form-field>
    <div class="btn-step">
      <button class="button" matStepperNext>Дальше</button>
    </div>
  </mat-step>

  <mat-step *ngIf="emailStepperV">
    <ng-template matStepLabel >Шаблон письма</ng-template>
    <p>Создайте шаблон письма</p>
    <div class="btn-step">
      <button class="button" matStepperPrevious>Назад</button>
      <button class="button" matStepperNext>Дальше</button>

    </div>
    <div class="container">
      <p-button class="p-button-success" (click)="exportHtml()">Экспортировать</p-button>
      <email-editor minHeight="650px"
        (loaded)="editorLoaded($event)"
        (ready)="editorReady($event)"
      ></email-editor>
    </div>
  </mat-step>

  <mat-step *ngIf="smsStepperV">
    <ng-template  matStepLabel>Текст сообщения</ng-template>
    <p >Введите текст sms сообщения</p>
    <mat-form-field>
      <mat-label>Тема</mat-label>
      <textarea class="textarea" matInput  required> </textarea>
    </mat-form-field>
    <div class="btn-step">
      <button class="button" matStepperNext>Дальше</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Дата и время</ng-template>
    <mat-label>Выберете дату рассылки</mat-label>
    <mat-radio-group [(ngModel)]="chooseTime">
      <div class="box">
        <mat-radio-button value="now" (click)="onStartImme($event)">Отправить сразу</mat-radio-button>
      </div>
      <div class="box">
        <mat-radio-button value="data" (click)="onChooseDate($event)">Выбрать дату</mat-radio-button>
      </div>
    </mat-radio-group>
    <div  class="box" [style.display]="selectDataVisible ? 'block' : 'none'">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="dataPicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dataPicker"></mat-datepicker-toggle>
        <mat-datepicker #dataPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-label>Выберете время рассылки</mat-label>
    <div>

    </div>


    <div class="btn-step">
      <button class="button" matStepperPrevious>Назад</button>
      <button class="button" matStepperNext>Дальше</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Список клиентов.</ng-template>
    <p>Выберите список клиентов.</p>
    <div class="btn-step">
      <button class="button" matStepperPrevious>Назад</button>
      <button class="button" matStepperNext>Дальше</button>
    </div>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Готово</ng-template>
    <p>Рассылка готова!.</p>
    <div class="btn-step">
      <button  class="button">Создать</button>
      <button  class="button" (click)="singleStepper.reset()">Сброс</button>
    </div>
  </mat-step>
</mat-stepper>


