.box{
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}
.upload-controls{
  display: flex;
  flex-direction: column;
}
.drop-zone{
  background-color: #ebecf1;
  border-width: 2px;
  border-style: dashed;
  padding: 100px;
  margin-left: 100px;
  border-radius: 15px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.btn-step{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top:10px;
  margin-bottom: 10px;
}

.topic{
  font-weight: bold;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 22px;
}

.button{
  flex-wrap: wrap;
  background-color: #ed3e3e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  margin-right:5%
}

.btn-ex{
  background-color: #ed3e3e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
.top{
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button:hover{
  background-color: #bb2d3b;
}

.btn-ex:hover{
  background-color: #bb2d3b;
}

.textarea{
  width: 50%;
}



:host ::ng-deep .mat-horizontal-content-container {
  padding:0 !important;
  height: 900px;
}
