h1{
  font-size: 32px;
  font-weight: bold;
}
:host ::ng-deep .p-toast-top-right{
  top: 100px
}
.container-contacts{
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  width: 100%;
}
