.drop-zone{
  background-color: lightskyblue;
  border-width: 2px;
  border-style: dashed;
  border-color: black;
  padding: 100px;
  text-align: center;
  /*margin-left: 100px;*/
  border-radius: 15px;
  margin-bottom: 5%;
  width: 50%;
  margin-top: 5%;
}
h1{
  font-size: 32px;
  font-weight: bold;
}
.bs-callout {
  color: #666;
  padding: 15px;
  border-left: 3px solid #eee;
}

.bs-callout-orange {
  background-color: lightskyblue;
  border-color: dodgerblue;
  width: 50%;
}

.bs-callout-sm {
  padding: 8px 12px;
}

.margin-0 {
  margin: 0;
}
.container-upload{
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  width: 50%;
  height: 50%
}

label{
  font-size: 18px;
}

.topic{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 22px;
}

.button{
  flex-wrap: wrap;
  background-color: #ed3e3e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
