<div class="container p-1">
  <p-toast [baseZIndex]="1000000"  position="top-right"></p-toast>
  <div class="card">
    <button *ngIf="exportButtonVisible" (click)="exportHtml()" class="btn btn-success">Сохранить шаблон</button>
    <button *ngIf="updateButtonVisible" (click)="updateHtml()" class="btn btn-success">Обновить шаблон</button>
    <div id="unlayer-container">
      <email-editor locale="ru-RU" minHeight="750px"
                    (loaded)="editorLoaded($event)"
                    (ready)="editorReady($event)"
      ></email-editor>
    </div>
  </div>
</div>
