<div class="container p-3.5">
  <div class="container-contacts">
    <h1 class="text-center mb-5">Наши тарифы</h1>
    <div class="row">
      <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="tariff-card">
          <h2 class="tariff-title">Бесплатный</h2>
          <p class="tariff-price">0₽/месяц</p>
          <ul class="tariff-features">
            <li>3 шаблона</li>
            <li>3 списка контактов</li>
            <li>Максимальный размер списка: 100 клиентов</li>
          </ul>
          <button class="tariff-button">Оформить тариф</button>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="tariff-card">
          <h2 class="tariff-title">Плюс</h2>
          <p class="tariff-price">1500₽/месяц</p>
          <ul class="tariff-features">
            <li>10 шаблонов</li>
            <li>10 списков контактов</li>
            <li>Максимальный размер списка: 1000 клиентов</li>
          </ul>
          <button class="tariff-button">Оформить тариф</button>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="tariff-card">
          <h2 class="tariff-title">Премиум</h2>
          <p class="tariff-price">3000₽/месяц</p>
          <ul class="tariff-features">
            <li>30 шаблонов</li>
            <li>30 списков контактов</li>
            <li>Максимальный размер списка: 10000 клиентов</li>
          </ul>
          <button class="tariff-button">Оформить тариф</button>
        </div>
      </div>
    </div>
  </div>
</div>

