<div class="container pl-3.5">
  <h1>Мои рассылки</h1>
  <div class="container-contacts mt-5">
    <p-table [tableStyle]="{'min-width': '70rem'}"
             #dt2
             [value]="activeOrders"
             dataKey="id"
             [rows]="6"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[4,5,6]"
             [paginator]="true"
             currentPageReportTemplate="Отображается с {first} по {last} из {totalRecords} записей"
             [globalFilterFields]="['name', 'emailStatus','smsStatus']">>
      <ng-template pTemplate="caption">
        <div class="d-flex flex-row">
          <div class="col-10">
            <button pButton label="Очистить" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt2)"></button>
          </div>
          <div class="mr-5">
          <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="form-control"
                       (input)="dt2.filterGlobal(applyFilterGlobal($event), 'contains')" placeholder="Поиск"/>
            </span>
          </div>
          <div>
            <p-button (click)="fetchOrders()" icon="pi pi-refresh"></p-button>
          </div>

        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:15rem; background-color: white">
            <div class="flex align-items-center">
              Имя заявки
              <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width:15rem; background-color: white">
            <div class="flex align-items-center">
              Шаблон
            </div>
          </th>
          <th style="min-width:15rem; background-color: white">
            <div class="flex align-items-center">
              Список клиентов
              <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
            </div>
          </th>
          <th pSortableColumn="sendStartDate" style="min-width:15rem; background-color: white">
            <div class="flex align-items-center">
              Дата начала отправки
              <p-sortIcon field="sendStartDate"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="emailStatus" style="min-width:15rem; background-color: white">
            <div class="flex align-items-center">
              Статус Email рассылки
           <p-sortIcon field="emailStatus"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="smsStatus" style="width:20%" style="min-width:15rem; background-color: white">
            <div class="flex align-items-center">
              Статус СМС рассылки
              <p-sortIcon field="smsStatus"></p-sortIcon>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{order.name}}</td>
          <td>
            <div class=" justify-content-center">
              <p-overlayPanel #op [baseZIndex]="1000000">
                <ng-template pTemplate="content">
                  <iframe width="450" height="400" [srcdoc]="order.template | safeHtml"></iframe>
                </ng-template>
              </p-overlayPanel>
              <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Шаблон"></p-button>
            </div>
          </td>
          <td>
            <p-button styleClass="p-button-outlined p-button-help" [routerLink]="['/workspace/active-orders',order.id]">{{order.clientListName}}</p-button>
          </td>
          <td>{{order.sendStartDate}}</td>
          <td><p-tag [value] ='order.emailStatus' [style]="getSeverity(order.emailStatus)"></p-tag></td>
          <td><p-tag [value] ='order.smsStatus'  [style]="getSeverity(order.smsStatus)"></p-tag></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

