<div class="container pl-3.5">
  <div class="container-contacts">
    <p-table [value]="activeOrders" [tableStyle]="{'min-width': '70rem'}">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Products
          <p-button icon="pi pi-refresh"></p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Имя рассылки</th>
          <th>Шаблон</th>
          <th>Список клиентов</th>
          <th>Дата начала отправки</th>
          <th>Статус Email рассылки</th>
          <th>Статус Sms рассылки</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{order.name}}</td>
          <td>
            <div class=" justify-content-center">
              <p-overlayPanel #op [baseZIndex]="1000000">
                <ng-template pTemplate="content">
                  <iframe width="450" height="400" [srcdoc]="order.template | safeHtml"></iframe>
                </ng-template>
              </p-overlayPanel>
              <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Show"></p-button>
            </div>
          </td>
          <td></td>
          <td>{{order.sendStartDate}}</td>
          <td>{{order.emailStatus}}</td>
          <td>{{order.smsStatus}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

